* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/poppins');

body {
    font-family: 'poppins', sans-serif;
    background-color: #1a0f1f; /* fundo escuro roxo */
    color: #f3d18b; /* tom alaranjado suave */
    line-height: 1.6;
    background-image: radial-gradient(#1a0f1f 70%, #0c0610);
}

header {
    background:#ff6600;
    color: #fff7e6;
    text-align: center;
    padding: 25px;
    text-shadow: 2px 2px 5px #000;
    border-bottom: 3px solid #ff9900;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

header p {
    font-style: italic;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

/* FLEXBOX */
.flexbox-section {
    margin-bottom: 60px;
}

.flexbox-section h2,
.grid-section h2 {
    text-align: center;
    color: #ffb347;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 25px;
}

.flex-item {
    background: #2a1a2f;
    border: 2px solid #ff6600;
    border-radius: 10px;
    padding: 15px;
    width: 45%;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.flex-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 140, 0, 0.7);
}

.flex-item img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #ff9900;
}

/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.grid-item {
    background: #2a1a2f;
    border: 2px solid #ff6600;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 140, 0, 0.7);
}

.grid-item img {
    width: 100%;
    border-radius: 8px;
    border: 2px solid #ff9900;
}


img {
    transition: transform 0.4s ease;
}

img:hover {
    transform: rotate(-2deg) scale(1.02);
}
